@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
:root {
    --gray0: #000;
    --gray1: #3b3b3b;
    --gray2: #696969;
    --gray3: #969696;
    --gray4: #c9c9c9;
    --gray5: #ececec;
    --bkg: #f4f4f4;
    --red: red;
    --accent:#00e1ff;
    --white:#fff;
    --bkg: #f4f4f4;
    /* --red: #6da9bb; */

    --lightblue: lightskyblue;
    --cell: 32px;
    --bar: 20px;

}
.debugA { border: 2px solid red; }
.debugB { border: 2px solid green; }
.debugC { border: 2px solid lightskyblue; }
body{
    background-color: var(--bkg);
}
header {
    margin-top: 1rem;
    width: 100%;
}
header > button {
    margin-left: 2rem;
}
#content {
    margin-bottom: 4rem;
}
.chart {
    background-color: var(--white);
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    box-shadow: 2px 2px 6px #00000031;
}
h1 {
    /* text-transform: uppercase; */
    color: var(--gray0);
    white-space: nowrap;
}
li{ position: relative; }
.heavy { font-weight: 800; }
.bold { font-weight: 500; }
.bar { height: var(--bar);}
.text-lg { font-size: 6rem; }
.text-md { font-size: 1.5rem; }
.text-sm { font-size: 1.0rem; }
.text { font-size: 1rem; }
.ital { font-style: italic; }
.redbkg{ background-color: var(--red);}
.gray0{ color: var(--gray0); }
.gray1{ color: var(--gray1); }
.gray2{ color: var(--gray2); }
.gray3{ color: var(--gray3); }
.gray4{ color: var(--gray4); }
.gray5{ color: var(--gray5); }
.white{ color: var(--white); }
.upper{ text-transform: uppercase;}
.hidden { visibility: hidden;}
.hidden-x { visibility: hidden;}
.border-right { border-right: 1px solid black; }
.crop { overflow: hidden;}
.pad { padding: 0.2rem; }
.row { height: var(--cell);}
li {
    list-style-type: none;
    height: var(--cell);
}
img{
    width: auto;
    height: 100%;
}
.flex-h {
    display: flex;
    align-items: center;
}
.flex-h-left {
    display: flex;
    justify-content: start;
    align-items: center;
}
.flex-h-left-bottom{
    display: flex;
    justify-content: start;
    align-items: flex-end;
}
.flex-h-spread {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-h-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}
.flex-h-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* .section > h3 {
    justify-self: flex-start;
    flex-grow: 1;
} */
.task > h3 {
    justify-self: flex-start;
    flex-grow: 1;
}
.icon-lg {
    height: 5rem;
    width: auto;
}
input.title{
    padding: 4px;
    border: none;
    background-color: transparent;

    /* outline: none; */
    /* background-color: red; */
}
input.title:hover{
}
input.title:focus{
    /* margin: 4px; */
    /* outline-offset: 4px; */
    outline: 2px solid var(--accent);
    background-color: var(--white);

}
button { cursor: pointer; }
.grab { cursor: grab; }
.task-button {
    border-radius: 2rem;
    outline: none;
    border: none;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    background-color: var(--accent);    
}
.text-button {
    outline: none;
    border: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: transparent;
}
.img-button {
    outline: none;
    border: none;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    background-color: transparent;
}
.div-button {
    outline: none;
    border: none;
    background-color: transparent;
}
.circle-button {
    /* margin: 0.2rem; */
    border: 1px solid var(--gray2);
    /* border: none; */
    padding: 0.05rem;
    border-radius: 50%;
    aspect-ratio: 1;
    height: 60%;
    width: auto;
}
.left {
    background-color: var(--white);
    padding-left: 0.4rem;
    padding-right: 0.5rem;
    width: max(30%, min(40vw, 700px));
}
.ribbon {
    padding-right: 0.5rem;
}
.row:hover {
    .ribbon{
        background-color: var(--gray4);
    }
    .hidden {
        visibility: visible;
    }
}
.bar:hover{
    border: 1px solid black;
    .resize {
        background-color: #0000003b;
    }
    .grab {
        background-color: #0000003b;
    }
}
.right {
    width: 100%;
    overflow: hidden;
    position: relative;
}
/* .section{
    width: 90%;
} */
.task{
    width: 90%;
}
.new-task {
    width: 100%;
}
.trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.time {
    width: 5rem;
    text-align: right;
}
.color {
    margin-left: 1rem;
    aspect-ratio: 1;
    /* width: 1rem; */
    height: 1rem;
    /* width: auto; */
    outline: 1px solid var(--lightblue);
    background-color: goldenrod;
}
.date {
    /* background-color: var(--gray4); */
}

.hour-marker {
    display: inline-block;
    height: 250px;
    background-color: red;

}
.grid {
    margin-left: 1rem;
}
.gizmos {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: stretch; */
}
.resize {
    cursor: col-resize;
    display: inline-block;
    width: 2rem;
    height: 100%;
}
.align-left{
    position: relative;
    left: -1rem;
    background-color: transparent;
}
.align-full{
    /* position: relative; */
    height: 100%;
    width: 100%;
}
.align-right{
    position: relative;
    right: -1rem;
    background-color: transparent;

}
.oversize {
    width: calc( 100% + 8*var(--cell));
    transform: translateX( calc( -4*var(--cell)));
}
.pan {
    cursor: move;
}
#bar-0{
    /* width: 500px; */
    background-color: red;
}
#bar-1 {
    /* transform: translateX(150px); */
    /* width: 250px; */
    background-color: green;
}
#bar-2 {
    /* transform: translateX(250px); */
    /* width: 380px; */
    background-color: coral;
}

.no-select {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.raised{
    z-index: 1;
}
.is-dragging {
    background-color: var(--gray3);
    outline: 4px solid var(--gray3);
    /* outline-offset: 4px; */
    box-shadow: 3px 10px 16px #00000031;
}
.is-dragging:has( .bar ) {
    z-index: 9;
    overflow: visible;

}

.is-dragging:not(:has(.bar )) {
    z-index: 10;
}

/* #cell1{
    grid-row: 2;
    grid-column: 1 / span 4;
    background-color: red;
    height: var(--bar);
}
#cell2{
    grid-row: 3;
    grid-column: 5 / span 1;
    background-color: blue;
    height: var(--bar);
} */